#bannerBackground.head{
  &.jumbotron {
    h1{
      font-weight: 700;
      color: @tutPlus-jumbotron-h;
      font-size: @tutPlus-jumbotron-size-h1;
    }
    p{
      color: @tutPlus-jumbotron-p;
      font-size: @tutPlus-jumbotron-size-p;
      font-weight: @tutPlus-text-normal;
    }
    background-color: #f5f7f8;
    &.withPic{
    }
    > div{
      padding: 0;
    }
  }
}

#bannerBackground{
    background-position-x:  11730px;
}