// Navbar
.navbar{
  min-height: 40px;
  .navbar-brand{
    height: 40px;
    padding: 11px 15px;
    color: @tutPlus-white;
  }
}
// -> Nav -> Search
.navbar-form {
  margin: 6px 0;
  .btn{
    font-size: 12px;
    border: none;
    background-color: @tutPlus-grey-light;
  }
  .form-control{
    height: 29px;
    border: none;
    padding: 0 10px;
    font-size: 12px;
    &:focus,
    &:active{
      outline: none;
      box-shadow: none;
      border-color: transparent;
    }
    &::-webkit-input-placeholder {
      font-weight: 300;
    }
  }
}
.navbar-inverse{
  background-color: @tutPlus-navbar;
  border: none;
}
// Nav -> li
.navbar-inverse .navbar-nav > li > a{
  color: @tutPlus-navbar-li;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 21px;
}
// Nav -> li -> highlight
.navbar-inverse .navbar-nav > .highlight > a{
  background-color: @tutPlus-brand;
  color: @tutPlus-text-white;
  &:hover{
    background-color: @tutPlus-brand-darker;
  }
}
// Nav -> li -> hover
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  background-color: @tutPlus-navbar-hover;
}
// Nav -> li -> active
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: @tutPlus-navbar-active;
  font-weight: 700;
}
//Mobile
// Nav -> li -> dropdown
.navbar-inverse .navbar-nav > li.dropdown:hover,
.navbar-inverse .navbar-nav > li.dropdown:focus{
  > a{
  }
}
// Nav -> li > dropdown -> Menu
.navbar-inverse .navbar-nav > li.dropdown:hover > .dropdown-menu,
.navbar-inverse .navbar-nav > li.dropdown:focus > .dropdown-menu{

}

// SM - LG
@media (min-width: 768px) {
  // Nav -> li -> dropdown
  .navbar-inverse .navbar-nav > li.dropdown:hover,
  .navbar-inverse .navbar-nav > li.dropdown:focus {
    > a {
      background-color: @tutPlus-white;
      color: @tutPlus-navbar;
    }
    .open;
  }
  // Nav -> li > dropdown -> Menu
  .navbar-inverse .navbar-nav > li.dropdown:hover > .dropdown-menu,
  .navbar-inverse .navbar-nav > li.dropdown:focus > .dropdown-menu{
    border: none;
    border-radius: 0px;
    padding: 0;
    > li{
    }
    > li > a{
      padding: 10px;
      color: @tutPlus-navbar-dropdown-text;
      font-weight: 300;
    }
    > li > a:hover{
      color: @tutPlus-text-white;
      background-color: @tutPlus-navbar-hover;
    }
    // Child 1
    > li:nth-child(1) a:hover{
      background-color: @tp_topicDesign;
    }
    // Child 2
    > li:nth-child(2) a:hover{
      background-color: @tp_topicCode;
    }
    // Child 3
    > li:nth-child(3) a:hover{
      background-color: @tp_topicWebdesign;
    }
    // Child 4
    > li:nth-child(4) a:hover{
      background-color: @tp_topicPhoto;
    }
    // Child 5
    > li:nth-child(5) a:hover{
      background-color: @tp_topicAudio;
    }
    // Child 6
    > li:nth-child(6) a:hover{
      background-color: @tp_topic3D;
    }
    // Child 7
    > li:nth-child(7) a:hover{
      background-color: @tp_topicBusiness;
    }
    // Child 8
    > li:nth-child(8) a:hover{
      background-color: @tp_topicBundles;
    }
  }
}