//SIZES

@tutPlus-jumbotron-size-h1:   51px;
@tutPlus-jumbotron-size-p:    19px;

//WEIGHT

@tutPlus-text-ultrathin:    100;
@tutPlus-text-thin:         300;
@tutPlus-text-normal:       500;
@tutPlus-text-bold:         700;

//== Colors
//
//TEXTCOLORS

@tutPlus-jumbotron-h:      #2A3744;
@tutPlus-jumbotron-p:      #8fa6b3;


//Colors
@tutPlus-white:                 #ffffff;
@tutPlus-grey-light:            #dddddd;
@tutPlus-grey:                  #8e8e8e;
@tutPlus-dark:                  #333333;

// Brand Color
@tutPlus-brand:                 #1fa756;
@tutPlus-brand-darker:          lighten(@tutPlus-brand, -3%);

//ControlBars

@tutPlus-darkBG:                #2a3744;


// -> colors
@tutPlus-orange:                #e36143;
@tutPlus-red:                   #c42915;
@tutPlus-red-dark:              #82282f;
@tutPlus-green-lighter:         #679d20;
@tutPlus-green-light:           #2a8450;
@tutPlus-green:                 #005d50;
@tutPlus-green-dark:            #135056;
@tutPlus-blue-light:            #3f7db2;
@tutPlus-blue:                  #0235c0;
@tutPlus-purple:                #372c82;



@tutPlus-color-facebook:          #3b5998;
@tutPlus-color-facebook-hover:    lighten(@tutPlus-color-facebook, -3%);
@tutPlus-color-twitter:           #00aced;
@tutPlus-color-twitter-hover:     lighten(@tutPlus-color-twitter, -3%);
@tutPlus-color-google-plus:       #dd4b39;
@tutPlus-color-google-plus-hover: lighten(@tutPlus-color-google-plus, -3%);
@tutPlus-color-pinterest:         #cb2027;
@tutPlus-color-pinterest-hover:   lighten(@tutPlus-color-pinterest, -3%);



// TEXT - COLORS
@tutPlus-text-white:                  #ffffff;
@tutPlus-text-lightblue:              #C0CCDB;

// NAVBAR
@tutPlus-navbar:                @tutPlus-darkBG;
@tutPlus-navbar-hover:          #344454;
@tutPlus-navbar-active:         #54667a;
@tutPlus-navbar-li:             @tutPlus-text-lightblue;
@tutPlus-navbar-dropdown:       @tutPlus-white;
@tutPlus-navbar-dropdown-text:  @tutPlus-grey;


//TOPIC COLORS

// Design & Illustration
@tp_topicDesign:            #c42915;

// Code
@tp_topicCode:              #005d50;

// Web Design
@tp_topicWebdesign:         #135056;

// Photo & Video
@tp_topicPhoto:             #372c82;

// Music & Audio
@tp_topicAudio:             #0235c0;

// 3D & Motion Graphics
@tp_topic3D:                #82282f;

// Business
@tp_topicBusiness:          #679d20;

// Bundles
@tp_topicBundles:           #2a3744;




//Footer
@tutPlus-list-color:          #6d8299;


//lastLine
@tutPlus-lastLine:          rgb(33, 42, 52);